{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}


{% if reader is not none %}
    {% if books_deadlines|length > 0 %}
        <h3 class="mt-4 mb-4">Список ваших книг</h3>
        {% for item in books_deadlines.items() %}
            <div class="card">
                <div class="card-body">
                    <p class="card-title">{{ item[0] }}</p>
                    <span class="text-secondary">До {{ item[1] }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% else %}
    <p>У вас пока нет карточки читателя. Чтобы ее получить, обратитесь в библиотеку</p>
{% endif %}

{% endblock %}
