{% extends "base.html" %}

{% block title %}Панель управления{% endblock %}

{% block content %}

    <table class="table table-striped">
    <thead>
    <tr>
        {% for col in columns %}
            <th scope="col">{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for item in content %}
            <tr>
                <th scope="row">1</th>

                <td>Mark</td>

            </tr>
        {% endfor %}
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>

{% endblock %}